body{
    padding-top: 0.88rem;
    background: #eee;
}
h1{
    width: 6rem;
    height: 0.8rem;
    line-height: 0.8rem;
    text-align: center;
    font-size: 0.28rem;
    color: #666;
    margin:0.3rem auto 0 auto;
    background: #fff;
    font-weight: normal;
}
ul{
    padding:0.2rem 0.2rem 0 0.2rem;
}
ul li{
    width:6.3rem;
    padding:0 0.4rem 0 0.2rem;
    height: 2rem;
    margin-top: 0.24rem;
    position: relative;
}
.money{
    font-size: 0.8rem;
    line-height: 0.8rem;
}
.date{
    position: absolute;
    bottom: 0.2rem;
    width: 6.3rem;
}