body{
    background: #eee;
    padding-top: 0.88rem;
}
header{
    background: #fc4d48;
    color: #fff;
}
header a:first-child{
    background-image:url(../images/back-white.png);
}
header a:nth-of-type(2){
    display: inline-block;
    float: right;
    width: 0.32rem;
    height: 0.32rem;
    font-size: 0.6rem;
    color: #fff;
    line-height: 0.2rem;
}
.intro{
    height: 1.2rem;
    width: 7.1rem;
    margin:auto;
    margin-top: 0.2rem;
    border-radius: 0.1rem;
    background:#fff url(../images/enterShop/apple.png) no-repeat 0.4rem center;
    background-size: 0.35rem 0.43rem;
}
.intro p{
    margin-left: 1.3rem;
}
.nav{
    background: #fff;
    height: 1rem;
}
.nav li{
    text-align: center;
    font-size: 0.28rem;
    color: #333;
}
.price{
    background: url(../images/updown.png) no-repeat 1.3rem center;
    background-size: 0.14rem 0.24rem;
}
#content{
    padding:0 0.2rem;
}
#content li{
    width: 3.45rem;
    padding-top: 0.3rem;
    height: 4.1rem;
    margin-top: 0.2rem;
    background: #fff;
}
hr{
    width: 100%;
    border:1px solid #eee;
    margin-top: 0.2rem;
}
#content li:nth-of-type(2n-1){
    margin-right: 0.2rem;
}
#collect{
    position: absolute;
    bottom: -1.15rem;
    right: 0.25rem;
    border-radius:0.1rem ;
    background: #fff;
}
#collect p{
    line-height: 0.54rem;
    width: 0.96rem;
    text-align: center;
    font-size: 0.28rem;
    color: #999;
}
#collect p:nth-of-type(1){
    border-bottom: 0.02rem solid #eee;
}
#point{
    display: inline-block;
    position: absolute;
    border-bottom: 0.12rem solid #fff;
    border-left:0.07rem solid transparent ;
    border-right:0.07rem solid transparent ;
    top:-0.12rem;
    right: 0.1rem;
}