body{
    padding-top: 0.88rem;
    background: #eee;
}
.content{
    padding:0 0.2rem;
}
.content li{
    border-radius: 0.04rem;
    margin-top: 0.2rem;
    height: 2.5rem;
    background: #fff;
    box-shadow: 1px 1px 1px 1px #ccc;
    -moz-box-shadow: 1px 1px 1px 1px #ccc;
    display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex;
}
.content li img{
    width: 2.5rem;
    height: 2.5rem;
}
.get{
    width:1.5rem;
    height: 0.5rem;
    border-radius: 0.5rem;
    text-align: center;
    line-height: 0.5rem;
    font-size: 0.24rem;
    color: #fff;
    background: #fc4d48;
}