body{
    padding-top: 0.88rem;
    background: #eeeeee;
}
.top{
    height: 1.6rem;
    padding-right: 0.64rem;
    padding-left: 0.24rem;
    background: #fff url(../images/right.png) no-repeat 7.12rem center;
    background-size: 0.16rem 0.3rem;
}
ul li{
    height: 0.8rem;
    padding-right: 0.6rem;
    padding-left: 0.2rem;
    background: #fff url(../images/right.png) no-repeat 7.12rem center;
    background-size: 0.16rem 0.3rem;
    border-bottom:1px solid #eee;
}
input[type="button"]{
    display: block;
    height: 0.8rem;
    line-height: 0.8rem;
    text-align: center;
    color: #fff;
    background: #fc4d48;
    margin:0.2rem auto 0 auto;
    width: 7.1rem;
    font-size: 0.28rem;
    border-radius: 0.1rem;
}