body{
    padding-top: 0.88rem;
    background: #eee;
}
#content{
    margin-top: 0.2rem;
    background: #fff;
}
#content>li{
    border-bottom: 1px solid #eee;
}
.detail{
    height: 0.8rem;
}
.all{
    padding:0 0.3rem;
}
.all li{
    height: 0.6rem;
}
.active{
    color: #fc4d48;
}